%h3 Authentication Successful!
%hr
%p Here is your access token:
%input.input{:type => "text", :value => @token}

%p To add contacts to a mailing list:
%input.input{:type => "text", :value => URI.decode(cc_subscribe_url(@token, :api_key => session[:api_key], :email => "{CONTACT EMAIL ADDRESS}", :contact => {:first_name => "{CONTACT FIRST NAME}", :last_name => "{CONTACT LAST NAME}"}))}
%p More contact data can be appended to the url with the syntax &contact[{KEY}]={VALUE}.