%h4 Finding your Mailchimp API Key
http://kb.mailchimp.com/article/where-can-i-find-my-api-key

%h1 POST URL
%p http://localhost:3000/data/API_KEY

%h1 Example GET parameters
%p http://localhost:3000/data/18he83huhu7339huuh29uhu9ude92d-us?list_id=e24fgz493&email=hello@world.com&FNAME=buster&lname=bluth&MERGE1=merge 1 data&MERGE2=merge 2 data

%h1 Using curl / POST
%p curl --data "?list_id=e24fgz493&email=hello@world.com&FNAME=the dude&MERGE1=misc1 here&MERGE2=misc 2 here" http://localhost:3000/data/18he83huhu7339huuh29uhu9ude92d-us    

%h1 Parameters
%p
  %strong required
  data/YOURAPIKEY/
  %br
  list_id
  %br
  email
  %br
%p
  %strong example optional
  double_optin
  %br
  MERGE1
  %br
  FNAME
  %br
  LNAME
  %br

%h1 For use with DNN Form Master
%p 
  Settings -> Other Settings set the URL:
  http://mailchimp-post.herokuapp.com/data/YOUR_API_KEY
%p
  On the name field set Send Value by Options - Silent Post & Session
  %br
  value name will just be fname
  %br if you have a first name and last name you will use fname and lname
%p
  On the email field Send Value by Options - Silent Post & Session
  %br
  set value name to email
%p
  Add a new hidden field called list_id, make sure to hide label and ensury the type is hidden.
  %br
  In the Auto fill set the default text to be the list id from mailchimp
  %br
  Send Value by Options - Silent Post & Session and set the value name to list_id
%p
  Add any other mailchimp variables as hidden fields and set default text and the value name as well as the silent post & session value

%h4 You may need to go back and check on these fields, seems it doesn't save each time
